.mobile-nav,
.mobile-main,
.mobile-footer {
    display: none;
}

body {
    overflow-x: hidden;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav {
    display: grid;
    justify-items: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("images\\desktop\\image-header.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.inner-nav-div1 {
    padding-top: 20px;
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
}

.logo-div>img {
    width: 150px;
}

.links-div {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.links-div>a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-right: 35px;
}

.contact-link>button {
    cursor: pointer;
    font-size: .8em;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    width: 130px;
    height: 37px;
    margin-top: -10px;
    border: 0px;
    border-radius: 50px;
    transition: all 0.3s;
}

.contact-link>button:hover {
    box-shadow: 0px 0px 3px black;
    background-color: #3ebfff;
    color: white;
}

.inner-navdiv2 {
    display: grid;
    justify-items: center;
    align-items: end;
    margin-bottom: 200px;
}

.hero-txt-div>h1 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 7px;
    font-size: 2.7em;
}

.about-div {
    display: grid;
    grid-template-rows: 90vh 90vh 90vh;
    margin-right: 0px;
    margin-left: 0px;
}

.description1,
.description2,
.description3 {
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
}


.img-div>img {
    width: 50vw;
    height: 90vh;
}

.txtdiv1 {
    height: 90vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.inner-txtdiv>h1 {
    font-size: 2.7em;
    color: hsl(212, 27%, 19%);
}

.inner-txtdiv>p {
    font-size: 1.05em;
    color: hsl(232, 10%, 55%);
}

.learn-more>a {
    display: grid;
    grid-template-areas: "overlap";
    color: hsl(212, 27%, 19%);
    text-decoration: none;
}

.learn-more>a>p {
    grid-area: overlap;
}

.learn-more>a>hr {
    filter: opacity(40%);
    border-radius: 50px;
    grid-area: overlap;
    width: 120px;
    height: 5px;
    margin-left: 0px;
    margin-top: 35px;
    color: hsl(51, 100%, 49%);
    background-color: hsl(51, 100%, 49%);
}

.learn-more>a>hr:hover {
    margin-top: 37px;
    filter: opacity(1);
    border: 0px;
}

.graphic-design-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50vw;
    background-image: url("images\\desktop\\image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.graphic-design {
    margin-top: 45vh;
    text-align: center;
    color: hsl(167, 40%, 24%);
}

.photograpgy-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50vw;
    background-image: url("images\\desktop\\image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.photography {
    margin-top: 45vh;
    text-align: center;
    color: hsl(198, 62%, 26%);
}

.client-testimonials-div {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.testimonials-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

.testimonials-heading>h1 {
    margin-bottom: 70px;
    color: hsl(210, 4%, 67%);
    letter-spacing: 7px;
    font-size: 1.3em;
}

.client-testimonials {
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    text-align: center;
}

.client-testimonials>div>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

p.testimony {
    display: flex;
    align-items: center;
    height: 150px;
    color: hsl(213, 9%, 39%);
}

p.name {
    font-size: 1em;
    color: hsl(212, 27%, 19%);
}

p.title {
    color: hsl(210, 4%, 67%);
    margin-top: -10px;
}

.images-div {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

.images-div>img {
    width: 25vw;
    height: 50vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(168, 34%, 41%, 0.5);
    height: 50vh;
}

.footer {
    margin-top: 50px;
    display: grid;
    justify-items: center;
    color: hsl(168, 34%, 41%);
    text-align: center;
}

.footer-logo-div {
    margin-top: -70px;
}

.footer-logo-div>img {
    width: 170px;
    height: 30px;
}

.sitemap-div {
    width: 450px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.sitemap-div>a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    font-size: 1.3em;
}

.sitemap-div>a:hover {
    color: hsl(0, 0%, 100%);
}

.social-media-links {
    margin-top: 100px;
}

.social-media-links>a {
    text-decoration: none;
    margin-right: 20px;
}

.social-media-links>a>img:hover {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(56deg) brightness(106%) contrast(100%);
    color: white;
}