.nav,
.main,
.desktop-footer {
    display: none;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.mobile-nav {
    display: grid;
    justify-items: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
    height: 98vh;
    background-image: url("images\\mobile\\image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.mobile-nav-div {
    margin-top: 2vh;
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto;
}

.mobile-logo-div {
    margin-top: 15px;
}

.menu-icon-div {
    display: flex;
    justify-content: right;
}

.menu-icon {
    cursor: pointer;
    width: 9vw;
    height: 9vh;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(56deg) brightness(106%) contrast(100%);
}

.hero-div {
    margin-bottom: 20vh;
    width: 85vw;
    display: grid;
    justify-items: center;
    text-align: center;
}

.hero-div>h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 3em;
}

.mobile-navlinks-div {
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 13vh;
    width: 78vw;
    height: 55vh;
    border-top: 5vh solid #3ebfff;
    border-right: 5vw solid white;
}

.mobile-nav-links {
    height: 45vh;
    margin-top: 1vh;
    width: 78vw;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    text-align: center;
}

.mobile-nav-links>a {
    text-decoration: none;
    color: hsl(210, 4%, 67%);
    font-size: 1.7em;
}

.mobile-nav-links>.contact-link {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.3em;
    width: 33vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
}

.display {
    display: none;
}

.description {
    height: 140vh;
    margin-right: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-rows: auto auto;
}

.description>img {
    width: 100vw;
    height: 70vh;
}

.txtdiv {
    display: grid;
    align-items: center;
    height: 70vh;
    text-align: center;
}

.mobile-inner-txtdiv>h1 {
    font-size: 2.7em;
    color: hsl(212, 27%, 19%);
}

.mobile-inner-txtdiv>p {
    font-size: 1.1em;
    line-height: 30px;
    color: hsl(213, 9%, 39%);
}

.learn-more>a {
    display: grid;
    grid-template-areas: "overlap";
    font-size: 1.1em;
    color: hsl(212, 27%, 19%);
    text-decoration: none;
}

.learn-more>a>p {
    grid-area: overlap;
}

.learn-more>a>hr {
    filter: opacity(40%);
    border-radius: 50px;
    grid-area: overlap;
    width: 140px;
    height: 7px;
    margin-top: 35px;
    color: hsl(51, 100%, 49%);
    background-color: hsl(51, 100%, 49%);
}

.learn-more>a>.hr2 {
    color: hsl(7, 99%, 70%);
    background-color: hsl(7, 99%, 70%);
}

.mobile-aboutdiv {
    height: 200vh;
    display: grid;
    grid-template-rows: auto auto;
}

.description1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url("images\\mobile\\image-graphic-design.jpg");
    background-repeat: no-repeat;
}

.graphic-design-div {
    margin-top: 47vh;
    text-align: center;
    color: hsl(167, 40%, 24%);
}

.graphic-design-div>h1 {
    font-size: 2.7em;
}

.graphic-design-div>p {
    font-size: 1em;
}

.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url("images\\mobile\\image-photography.jpg");
    background-repeat: no-repeat;
}

.photography-div {
    margin-top: 47vh;
    text-align: center;
    color: hsl(198, 62%, 26%);
}

.photography-div>h1 {
    font-size: 2.7em;
}

.photography-div>p {
    font-size: 1em;
}

.mobile-clients-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 230vh;
}

.mobile-clients-testimonials-div {
    text-align: center;
}

.mobile-clients-testimonials-div>h1 {
    margin-bottom: -60px;
    font-size: 1.3em;
    letter-spacing: 4px;
    color: hsl(210, 4%, 67%);
}

.mobile-clients-testimonials-div>div {
    margin-top: 15vh;
}

.mobile-clients-testimonials-div>div>img {
    width: 20vw;
    height: 15vh;
    border-radius: 50%;
}

p.mobile-testimony {
    margin-top: 4vh;
    color: hsl(213, 9%, 39%);
}

p.mobile-name {
    margin-top: 7vh;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

p.mobile-title {
    margin-top: -2.5vh;
    color: hsl(210, 4%, 67%);
}

.mobile-images-div {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.mobile-images-div>img {
    height: 35vh;
    width: 50vw;
}

.mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 60vh;
    background-color: hsl(168, 34%, 41%, 0.6);
}

.footer {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.footer-logo-div {
    margin-top: -10vh;
}

.footer-logo-div>img {
    width: 170px;
    height: 30px;
}

.sitemap-div {
    margin-bottom: -10vh;
    width: 450px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.sitemap-div>a {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    font-size: 1.3em;
}

.social-media-links {
    margin-top: 25vh;
}

.social-media-links>a {
    text-decoration: none;
    margin-right: 2vw;
}

.hide-scroll {
    overflow-y: hidden;
}